*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainheading{
    font-size: 50px;
    text-align: center;

}
.mainheading span{
   color: rgb(211, 240, 228);
}

.developer,.para,.para1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.resume{
    position: absolute;
    top:25vh;
    left: 42vw;
    font-size: 25px;
    background-color:transparent;
    padding: 5px;
    color: rgb(211, 240, 228);
}
.img{
    height:300px;
    width:250px;
    border: 2px solid black;
    background: url(image.jpg);
    background-size: 250px 300px;
    position: absolute;
    margin-top: 150px;
    margin-left: 630px;
}

.contact{
   text-align: center;
    font-size: 50px;
    margin-top: 500px;
    
}
.contact span{
    color:rgb(211, 240, 228);
}


    

.whatsapp{
    height:200px;
    width:200px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    margin-left: 43vw;
}
.address{
    height:200px;
    width:200px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    margin-left: 43vw;
}

.email{
    height:200px;
    width:200px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;
    margin-left: 43vw;
}

.whatsappimg,.addressimg,.emailimg{
    height:100px;
    width:100px;
    margin-left: 35px;
}


.whatsapp_para,.whatsapphead,.addresshead,.address_para,.emailhead,.email_para,.footerhead,.footer_para{
    text-align: center;
    margin-top: 5px;
    
}
.footer_para2{
    text-align: center;
    margin-top: 80px;
}
.footer{margin-top: 10px;
    height:50vh;
    width:100vw;
    background-color: grey;
    border: 2px solid black;
}
.footerimg1,.footerimg2,.footerimg3,.footerimg4{
    margin-left: 200px;
    margin-top: 50px;
    height:90px;
    width:90px;
    padding: 10px;
}
